@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  /* Typography font sizes */
  --text-h1: 45px;
  --text-h2: 37px;
  --text-h3: 31px;
  --text-h4: 26px;
  --text-base: 16px;
  --text-sm: 14px;
  /* The default background color for the application. */
  --background: rgba(255, 255, 255, 1.00);
  /* The default color for elements or text that appears on top of the background. */
  --foreground: rgba(25, 25, 25, 1.00);
  /* The background color for cards, modals, and other containers. */
  --card: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of cards, modals and other background containers. */
  --card-foreground: rgba(25, 25, 25, 1.00);
  /* The background color for dropdowns and tooltips. */
  --popover: rgba(21, 49, 132, 1.00);
  /* The default color for text or elements that appear on top of dropdowns and tooltips. */
  --popover-foreground: rgba(230, 236, 251, 1.00);
  /* The primary color used for buttons, links, and other interactive elements. */
  --primary: rgba(65, 105, 225, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements. */
  --primary-foreground: rgba(255, 255, 255, 1.00);
  /* The secondary color used for secondary(but NOT-DESTRUCTIVE) buttons and interactive elements. */
  --secondary: rgba(230, 236, 251, 1.00);
  /* The default color for text or elements that appear on top of secondary colored elements. */
  --secondary-foreground: rgba(65, 105, 225, 1.00);
  /* The muted color used for less prominent elements, such as disabled buttons or disabled text. */
  --muted: rgba(179, 179, 179, 1.00);
  /* The default color for text or elements that appear on top of muted colored elements. */
  --muted-foreground: rgba(115, 115, 115, 1.00);
  /* The accent color used for highlights, links, and other interactive elements. */
  --accent: rgba(65, 105, 225, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements. */
  --accent-foreground: rgba(255, 255, 255, 1.00);
  /* The color used for background in destructive actions, such as delete buttons or error messages. */
  --destructive: rgba(229, 53, 61, 1.00);
  /* The default color for text or elements that appear on top of destructive colored elements. */
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements such as inputs, buttons, and other containers. */
  --border: rgba(222, 222, 222, 1.00);
  /* The default background color for input fields once the text has been filled. Should be either transparent or match the input-background. */
  --input: rgba(255, 255, 255, 1.00);
  /* The default background color for input fields, text areas, and other input elements. */
  --input-background: rgba(255, 255, 255, 1.00);
  /* The default font weight for medium text. */
  --font-weight-medium: 500;
  /* The default font weight for normal text. */
  --font-weight-normal: 400;
  /* The color for focus rings, outlines, and other focus indicators. */
  --ring: rgba(255, 130, 97, 0.30);
  /* Shadow for small elevations, such as cards or modals. */
  --elevation-sm: 0px 4px 20px 0px rgba(25, 25, 25, 0.15);
  /* The color for chart elements, such as a bar or line in a chart. */
  --chart-1: rgba(65, 105, 225, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-2: rgba(0, 168, 118, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-3: rgba(255, 202, 15, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-4: rgba(255, 97, 89, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-5: rgba(116, 20, 72, 1.00);
  /* The default border radius for elements such as buttons, tooltip, and other containers. */
  --radius: 8px;
  /* The background color for sidebars, navigation menus, and other persistent elements. */
  --sidebar: rgba(247, 247, 247, 1.00);
  /* The default color for text or elements that appear on top of sidebars, navigation menus, and other persistent elements. */
  --sidebar-foreground: rgba(25, 25, 25, 1.00);
  /* The primary color used for buttons, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-primary: rgba(65, 105, 225, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements in sidebars and navigation menus. */
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  /* The accent color used for highlights, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-accent: rgba(65, 105, 225, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements in sidebars and navigation menus. */
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements in sidebars and navigation menus. */
  --sidebar-border: rgba(222, 222, 222, 1.00);
  /* The default color for focus rings, outlines, and other focus indicators in sidebars and navigation menus. */
  --sidebar-ring: rgba(255, 130, 97, 0.30);
}

.dark {
  --background: rgba(25, 25, 25, 1.00);
  --foreground: rgba(255, 255, 255, 1.00);
  --card: rgba(40, 40, 40, 1.00);
  --card-foreground: rgba(255, 255, 255, 1.00);
  --popover: rgba(21, 49, 132, 1.00);
  --popover-foreground: rgba(230, 236, 251, 1.00);
  --primary: rgba(65, 105, 225, 1.00);
  --primary-foreground: rgba(255, 255, 255, 1.00);
  --secondary: rgba(40, 40, 40, 1.00);
  --secondary-foreground: rgba(255, 255, 255, 1.00);
  --muted: rgba(60, 60, 60, 1.00);
  --muted-foreground: rgba(179, 179, 179, 1.00);
  --accent: rgba(65, 105, 225, 1.00);
  --accent-foreground: rgba(255, 255, 255, 1.00);
  --destructive: rgba(229, 53, 61, 1.00);
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  --border: rgba(60, 60, 60, 1.00);
  --input: rgba(40, 40, 40, 1.00);
  --input-background: rgba(40, 40, 40, 1.00);
  --ring: rgba(255, 130, 97, 0.30);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: rgba(65, 105, 225, 1.00);
  --chart-2: rgba(0, 168, 118, 1.00);
  --chart-3: rgba(255, 202, 15, 1.00);
  --chart-4: rgba(255, 97, 89, 1.00);
  --chart-5: rgba(116, 20, 72, 1.00);
  --sidebar: rgba(30, 30, 30, 1.00);
  --sidebar-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-primary: rgba(65, 105, 225, 1.00);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-accent: rgba(65, 105, 225, 1.00);
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-border: rgba(60, 60, 60, 1.00);
  --sidebar-ring: rgba(255, 130, 97, 0.30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-h1);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    h2 {
      font-size: var(--text-h2);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    h3 {
      font-size: var(--text-h3);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    h4 {
      font-size: var(--text-h4);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    label {
      font-size: var(--text-sm);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }
  }
}

html {
  font-size: var(--font-size);
}